# Git
.git
.gitignore

# Environment
.env
environment.yml
YBIGTA_newbie_team_project/

# Python caches
__pycache__/
*.pyc
.mypy_cache/

# Local data & assets
database/*.csv
database/*.json
github/
review_analysis/compare_and_visualize/
review_analysis/crawling/result/
review_analysis/plots/
review_analysis/preprocessing/result/

# Test files
test/

# IDE/Editor specific
.vscode/
.idea/

# venv
venv/
.venv/
env/

# 대용량 모델 및 바이너리
*.pt
*.pth
*.bin
*.model
*.zip
*.tar.gz

# OS 및 캐시
.DS_Store
.cache/