# Web Framework
fastapi
uvicorn
pydantic
python-dotenv

# Database
pymongo
PyMySQL
SQLAlchemy

# Data Processing (꼭 필요한 경우만)
pandas
numpy
email-validator

# HTTP Client
requests
httpx

# Utility
python-dateutil
pytz

# LangGraph / LLM
langgraph
langchain
langchain-core
langchain-community
langchain-upstage
faiss-cpu
streamlit

# other
matplotlib
seaborn
cryptography
scikit-learn
pytest