aiodns
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc==0.0.4
annotated-types==0.7.0
anyio
appnope==0.1.4
asttokens==3.0.1
attrs
Bottleneck
brotlicffi
certifi
cffi
charset-normalizer
click==8.3.1
comm==0.2.3
contourpy
cycler
datasets
debugpy==1.8.19
decorator==5.2.1
dill
distro==1.9.0
dnspython==2.8.0
einops==0.8.2
email-validator==2.3.0
executing==2.2.1
fastapi==0.128.0
filelock
fonttools
frozenlist
fsspec
gmpy2
greenlet
groq==1.0.0
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
iniconfig==2.3.0
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2
joblib
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver
MarkupSafe
matplotlib==3.10.8
matplotlib-inline==0.2.1
mpmath
multidict
multiprocess
nest-asyncio==1.6.0
networkx
numexpr
numpy
packaging
pandas
parso==0.8.5
pexpect==4.9.0
pillow
platformdirs==4.5.1
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache
protobuf
psutil==7.2.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow
pycares
pycparser
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pymongo==4.16.0
PyMySQL==1.1.2
pyparsing
PySocks
pytest==9.0.2
python-dateutil
python-dotenv==1.2.1
pytz
PyYAML
pyzmq==27.1.0
regex
requests
safetensors
scikit-learn
scipy
seaborn
sentencepiece
setuptools==80.10.1
six
sniffio
SQLAlchemy
stack-data==0.6.3
starlette==0.50.0
sympy
threadpoolctl
tokenizers
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado
tqdm
traitlets==5.14.3
transformers
typing-inspection==0.4.2
typing_extensions
tzdata
urllib3
uvicorn==0.40.0
uvloop
wcwidth==0.5.0
wheel==0.46.3
xxhash
yarl

